In [2]:
import sqlite3
import pandas as pd

# Conectar a la base de datos SQLite
conn = sqlite3.connect('output/database.sqlite')
query = "SELECT * FROM etl_results"

# Leer la tabla en un DataFrame de pandas
df = pd.read_sql(query, conn)

# Mostrar las primeras filas
df.head()

,Country,average_electricity,mean_pib,mean_pib_per_capita,average_emissions
0,Australia,9.504760,7.598003e+08,37983.384735,182187.274191
1,Austria,69.343981,2.882474e+08,35150.003724,28140.834610
2,Belgium,3.891129,3.542969e+08,33758.132857,51824.463082
3,Bulgaria,7.778136,8.469902e+07,10915.984951,21622.049086
4,Belarus,0.203957,1.198782e+08,12141.116120,47145.084054